body{
  margin: 0;
}
h1{
  text-align: center;
  border-bottom:1px solid gray;
  font-size: 45px;
  margin:0;
  padding-bottom:20px;
}
a{
  color:blueviolet;
  text-decoration:none;
}

#grid ol{
    margin-top: 0;
    padding: 20px;
    border-right:1px solid gray;
}
#grid{
  display:grid;
  grid-template-columns:150px 1000px;
}
#article{
  padding: 20px;
}

#top .icon{
float:left;
width: 30px;
}
@media(max-width:800px){
